* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* https://br.pinterest.com/pin/753790056376647230/visual-search/?x=10&y=16&w=536&h=809&cropSource=6 */
/* #870A30 #EC8FD0 #D43790 #F2C5E0 */
/* #ffffff 
#f6f6f6 
#f7f7f7
#f8f8f8 
#5a5a5b preto menu  */

/* area 1 */

.logo {
    height: 70px;
    position: relative;
}

.esquerdo {
    background-color: #f8f8f8;
    color: #000000;
    width: 50%;
    height: 70px;
    font-size: 36px;    
    float: left;
    line-height: 70px;
    /* box-sizing: border-box; */
}

.direito {
    background-color: #f8f8f8;
    color: #000000;
    width: 50%;
    height: 70px;  
    font-size: 24px;    
    float: left;
    line-height: 70px;
    /* box-sizing: border-box; */
}

.endereco {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

/* area 2 */

.menu {
    background-color: #000;
    height: 70px;
    position: relative;
    color: white;
}

.roupa {
    list-style: none;
    float: left;
    color: white;    
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px 12%;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid #505050;
}

/* li.roupa:visited {
    color:  #c862aa;
} */

.roupa:hover {
    color: red;
    border-radius: 10px;
} 

/* Area 3 */

.estampa {
    /* background-image: url(./modelo-estampa.jpg); */
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    font-size: 40px;
}

.estampa1 {
    position: relative;
    float: left;
    top: 4em;
    left: 4em;
    text-align: center;
    font-weight: bold;
    height: 50%;
}

/* .estampa-texto2 {
    position: relative;
    background-color: turquoise;
    float: left;
    text-align: center;
    width: 50%;
    height: 50%;
} */


img.estampa2 {
    position: relative;
    left: -30%;
    float: right;
}

.espacamento {
    height: 20px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

/* Area 3 */

.tres_destaques {
    height: 400px;
    font-size: 30px;
    background-color: #eae7e2;
}

.tres_destaques-li {
    list-style: none;
    /* float: left; */
    height: 450px;
    display: inline-block;
}

/* .destaques-img {
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    display: inline-block;
    
} */

.destaques-img1 {
    height: 400px;
    transform: translateX(33%);
}

.destaques-img2 {
    height: 400px;
    transform: translateX(67%);
}

.destaques-img3 {
    height: 400px;
    transform: translateX(100%);
}


/* Area 5 */

.cinco_acessorios {
    background-color: #F7F7F7;
    font-size: 30px;
    text-align: center;
    height: 355px;
}

.cinco_acessorios-li {
    list-style: none;
    float: left;
}

.acessorios-img {
    height: 225px;
    overflow: hidden;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px; 
}

.acessorio-texto {
    font-size: 20px;
}

.anuncio {
    height: 450px;
    background-color: #dec2b7;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}

.anuncio-img {
    position: relative;

    left: 400px;
    height: 450px;
    
}

.anuncio_esquerdo {
    height: 450px;
    width: 50%;
    position: relative;
    float: right;
}


.anuncio-texto_superior {
    height: 50%;
    width: 100%;
    background-color: #dec2b7;
    position: relative;
    float: right;
    font-size: 30px;
    line-height: 400px;
}

.anuncio-texto_inferior {
    height: 50%;
    width: 100%;
    background-color: #dec2b7;
    position: relative;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

/* Area 6 */

.rodape {
    height: 300px;
    background-color: #f2f2f2;
    position: relative;
    font-size: 20px;
}

.rodape-col {
    width: 25%;
    position: relative;
    float: left;
    top: 10px;
    text-indent: 10px;
}

.rodape-col-li {
    list-style: none;
    margin-top: 20px;
    text-align: center;
}

.rodape-logo2 {
    background-repeat: no-repeat;
    height: 340px;
}